@import '../styles/utils'; // 같은 종류의 파일을 import 할 때는 확장자 생략 가능

.SassComponent {
    display: flex;
    .box {
        width: 32px;
        height: 32px;
        &.red { // .SassComponent .box.red
            background: $red;
            @include square(1);
        }

        &.orange {
            background: $orange;
            @include square(2);
        }

        &.yellow {
            background: $yellow;
            @include square(3);
        }

        &.green {
            background: $green;
            @include square(4);
        }

        &.indigo {
            background: $indigo;
            @include square(5);
        }

        &.blue {
            background: $blue;
            @include square(6);
        }

        &.violet {
            background: $violet;
            @include square(7);
        }

        &:hover {
            background: black;
        }
    }
}

/*
$commonFont: Verdana;
$commonColor: rgba(255, 60, 0, 0.87);

body {
    font-family: $commonFont;
    background: $commonColor;
}
*/